nav{
    /* background-color: var(--col2); */
    background-color: white;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.left{
    display: flex;
    align-items: center;
}

nav img{
    height: 60px;
    margin-right: 10px;
    margin-left: 50px;
}

.searchbox{
    display: flex;
    align-items: center;
    border-radius: 4px;
    background-color: white;
    padding: 10px;
    margin-left: 10px;
    width: 500px;
    border: 1px solid #e5e5e5;
    color:rgb(153, 153, 153);
}

.searchbtn{
    margin-right: 5px;
    font-size: 1.2rem;
    color: var(--col2);
}

input[type="text"]{
    border: none;
    outline: none;
    background: none; 
    width: 500px;
    /* color:rgb(153, 153, 153); */
}


.right{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 14px;
    font-weight: 400;
    margin-right: 50px;
}

.theme_btn{
    background-color: var(--col1);
    color: white;
    border: none;
    border-radius: 4px;
    padding: 5px 10px;
    text-decoration: none;
    margin-right: 10px;
}

.linkstylenone{
    text-decoration: none;
    color:white;
    margin-right: 20px;
}

.theme_icon1{
    font-size: 1.5rem;
}

.dropdown{
    display: flex;
    align-items: center;
    margin: 0px 20px;
    cursor: pointer;
}

.dropicon{
    font-size: 20px;
}

.main-nav{
    background-color: #f5f5f5;
    padding: 0;
    font-size:  14px;
    font-weight: 400;
    color: rgb(51, 51, 51);
    /* margin-bottom: 5px; */
    border:2px rgb(245, 245, 245);
}

ul{
    display: flex;
    margin-left: 50px;
}

li{
    color:black;
    list-style-type: none;
    padding: 10px ;
    display: inline;
    cursor: pointer;
    margin-left: 10px;
}

.link{
    text-decoration: none;
}
.link:visited {
    color: inherit; /* or specify the color you want */
}






.menu-toggle {
    margin-left: 10px;
    width: 25px;
    height: 15px;
    position: relative;
    cursor: pointer;
}

.line {
    width: 100%;
    height: 2px;
    background-color: black;
    position: absolute;
    transition: all 0.3s;
}

.line:nth-child(1) {
    top: 0;
}

.line:nth-child(2) {
    top: 50%;
    transform: translateY(-50%);
}

.line:nth-child(3) {
    bottom: 0;
}

.menu-toggle.active .line:nth-child(1) {
    transform: translateY(50%) rotate(45deg);
}

.menu-toggle.active .line:nth-child(2) {
    opacity: 0;
}

.menu-toggle.active .line:nth-child(3) {
    transform: translateY(-50%) rotate(-45deg);
}



